<form action="/articles" method="post">
  
  <label>Title:</label>
  <input id="title" type="text" name="title" />
  
  <label>Body:</label>
  <input="text" name="content">
  
  <input type="submit"/>
  
</form>