<form action="/articles" method="post">
  
  <label>Title:</label>
  <input id="title" type="text" name="title" />
  
  <label>Body:</label>
  <textarea id="content" type="text" name="content"></textarea>
  
  <input type="submit"/>
  
</form>